.center_col {
    margin-left: 245px;; 
    position: relative;
    width: var(652px);
    flex: 0 auto;
    @apply mt-4 w-[40rem]
}

.logo {
    position: absolute;
    left: -139px;
    padding: 4px 28px 0 30px;
    top: 6px;
}

p, a {
    height: auto;
}

@media (max-width: 1121px) {
    .center_col {
        margin-left: 28px;
    }
}

@media (min-width: 1459px) and (max-width: 1659px) {
    .center_col {
        margin-left: calc(25vw + -184.75px);
    }
}

@media (min-width: 1121px) and (max-width: 1300px) {
    .center_col {
        margin-left: calc((100vw - 1065px)/2);
    }
}

